{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
    <div class="intro">
        <a href="/">Return to home page</a>
    </div>

    <div class="intro">
        <a href="https://github.com/Samuel-Bowden/{{ page.extra.name }}">Source Code</a></p>
    </div>

    <div id="loading">
        Loading. Please wait...
    </div>

    <script type="module">
        import init from '/games/{{ page.extra.name }}/bin/{{ page.extra.name }}.js';
        init('/games/{{ page.extra.name }}/bin/{{ page.extra.name }}_bg.wasm');
    </script>
{% endblock content %}
